cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
cssselect==1.1.0
cssutils==1.0.2
et-xmlfile==1.0.1
idna==2.10
jdcal==1.4.1
lxml==4.6.0
Pillow==8.0.0
premailer==3.7.0
python-dateutil==2.8.1
python-dotenv==0.14.0
pytz==2020.1
regex==2020.10.15
requests==2.24.0
six==1.15.0
tzlocal==2.1
urllib3==1.25.10
yagmail==0.14.245
